$primary-color: beige;
$secondary-color: rgb(223, 223, 171);
$shadow-color: rgba(0, 0, 0, 0.2);
$modal-shadow: rgba(0, 0, 0, 0.8);
$link-hover-color: rgb(59, 57, 57);
$important: rgb(179, 46, 46);
$correct-answer: green;

$error: red;
