$text-color: rgba(250, 250, 250, 0.832);
$main-button-color: linear-gradient(45deg, rgba(228, 19, 19, 0.870), rgba(183, 0, 0, 0.589));
$secondary-button-color: rgba(228, 19, 19, 0.870);
$background-color: linear-gradient(315deg, rgba(0, 0, 197, 0.671), rgba(183, 0, 0, 0.696));


$primary-color: rgb(245, 245, 220, 0);
$secondary-color: rgba(109, 217, 32, 0.711);
$shadow-color: rgba(0, 0, 0, 0.2);
$modal-shadow: rgba(0, 0, 0, 0.8);
$link-hover-color: rgb(59, 57, 57);
$important: rgb(179, 46, 46);
$correct-answer: green;

$error: red;
