.form-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container {
    align-self: center;
    text-align: center;
    font-size: 40px;
    position: relative;
    padding-bottom: 30px;

    .error-message {
        padding: 10px;
        background-color: rgb(248, 225, 225);
        border-radius: 5px;
        position: relative;
        bottom: 0;
        font-size: 14px;
        color: $error;
    }
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    padding: 0 30px 30px;
    border: 2px solid $secondary-color;
    border-radius: 10px;

    & input {
        border: 1px solid $secondary-color;
        border-radius: 10px;
        height: 40px;
        margin-top: 10px;
    }
}

.submit {
    cursor: pointer;
    background-color: $secondary-color;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    height: 40px;
    margin-top: 20px !important;

    &:hover {
        background-color: $primary-color;
    }
}

@media (max-width: 821px) {
    .form-container {
        height: 60vh;
    }

    .form {
        border: none;
    }
}